[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
dj-rest-auth = "*"
psycopg = "*"
psycopg2 = "*"
prettytable = "*"
django-allauth = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
